* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b0b0b;
    color: #e6d8b5;
    font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar li {
    cursor: pointer;
    opacity: 0.8;
}

.logo {
    font-weight: bold;
    letter-spacing: 2px;
}

.btn {
    background: #e6d8b5;
    color: #0b0b0b;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), #0b0b0b),
                url("images/hero.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 20px;
}

.hero p {
    max-width: 500px;
    margin: auto;
    opacity: 0.8;
}

.btn-outline {
    margin-top: 25px;
    background: transparent;
    border: 1px solid #e6d8b5;
    color: #e6d8b5;
    padding: 10px 25px;
}

/* SERVICES */
.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 80px 60px;
}

.card {
    background: #141414;
    padding: 30px;
    border-radius: 10px;
}

/* WORK */
.work {
    padding: 80px 60px;
}

.work h2 {
    margin-bottom: 40px;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.work-item {
    height: 250px;
    background: #1c1c1c;
    border-radius: 15px;
}
.navbar a {
    color: #e6d8b5;
    text-decoration: none;
    font-size: 14px;
}

.navbar a:hover {
    opacity: 1;
}
html {
    scroll-behavior: smooth;
}
